.auth {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;

  &__greeting {
    margin: 0;
    font-size: 22px;
  }

  &__redirect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7px;
  }

  &__redirect-text {
    margin: 0;
    font-size: 18px;
  }

  &__redirect-link {
    font-size: 18px;
    color: #374882;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}
