.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 12px;
  font-size: 15px;
  min-height: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &__option-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 4px;
  }

  &__select {
    border: 1px solid #1817176c;
  }

  &__btn {
    padding: 0;
    width: 80px;
    border: 1px solid #1817176c;
    background-color: #e9eef1;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
