.nav {
  display: flex;
  gap: 20px;

  &__link {
    text-decoration: none;
    color: #000;
    font-size: 18px;

    &_active {
      text-decoration: underline;
      text-underline-offset: 5px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__logout {
    width: 70px;
    padding: 0;
    border: none;
    background-color: #e8e5e5;
    border-radius: 7px;
    font-size: 18px;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
